.photo-grid {
    max-width: calc(100% - 96px);
    margin: 0 auto;
    padding: 136px 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}
@media screen and (max-width: 1280px) {
    .photo-grid {
        padding: 92px 0 92px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        padding: 88px 0 88px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        display: flex;
        flex-direction: column;
        padding: 64px 0 64px;
    }
}