.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1;
        
    }
}
@media screen and (max-width: 668px) {
    .footer__copyright {
        margin: 16px 0 0;
    }
}
