.footer {
    max-width: calc(100% - 96px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}
@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 425px) {
    .footer {
        max-width: calc(100% - 32px);
    }
}